<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BannerMapper">
    <select id="Banner_getList" resultType="BannerDto">
        SELECT *
        FROM main_banner
        WHERE CURDATE() BETWEEN start_date AND end_date
    </select>
</mapper>