<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BinMapper">
    <!-- 파라미터, 필드명은 DB의 필드명과 동일해야한다 -->
    <!-- DB에서 엔터티들을 BinDto형태로 받아온다 : resultType   -->
    <!-- 따라서, DB에 속성명과 Dto의 필드명과 타입을 통일해주어야한다.   -->
    <select id="Bin_getList" resultType="BinDto">
        SELECT *
        FROM clothes_collection_bins
    </select>
</mapper>